.leftSidePart {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 13%;
  border-right: 1px solid #999999;
  background-color: white;
}

.logoPart {
 width: 170px;
 height: 60px;
 margin-left: 10px;
}

.navLinkPart {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 28px;


}
.navLink {
  display: flex;
  border-radius: 5px;
  align-items: center;
  height: 30px;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #ededed;
    border-radius: 8px;
  }
}
.navName {
  font-weight: 500;
  padding-left: 10px;
}
.bellowPart {
  position: absolute;
  bottom: 20px;
}
.createMenuDropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  padding: 10px 0;
  border-radius: 12px;
  width: 180px;
  box-shadow: 0 2px 18px rgba(0,0,0,0.35);
  z-index: 9999;
}

.createItem {
  display: flex;                  /* thêm flex để text và icon cùng hàng */
  align-items: center;            /* căn giữa theo chiều dọc */
  justify-content: space-between; /* text bên trái, icon sát phải */
  padding: 12px 16px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.createItem:hover {
  background: rgba(255,255,255,0.12); /* giữ nguyên màu hover */
}


.createItem svg {
  margin-left: 8px;
}

