.chat-dialog {
  width: 650px;
  height: 500px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.20);
}

.loading-box {
  padding: 14px;
}
