.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-weight: 500;
  gap: 10px;
  background-color: #f5f2f2;
}

.panel-body {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  background: white;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE, Edge cũ */
}

.panel-body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge mới */
}
.msg-line {
  margin: 6px 0;
  display: flex;
}

.msg-line.me {
  justify-content: flex-end;
}

.msg-line.other {
  justify-content: flex-start;
}

.msg-bubble {
  padding: 8px 12px;
  max-width: 360px;
  border-radius: 14px;
  word-break: break-word;
  display: inline-block;
}

.me .msg-bubble {
  background: #39a2ff;
  color: #fff;
  border-bottom-right-radius: 4px;
}

.other .msg-bubble {
  background: #e6e6e6;
  color: #000;
  border-bottom-left-radius: 4px;
}

.panel-input {
  padding: 8px;
  display: flex;
  gap: 6px;
  border-top: 1px solid #e0e0e0;
  background: #fafafa;
}

.panel-input input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}
.chat-input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  max-height: 120px; /* tránh quá cao */
}


.panel-input input:focus {
  border-color: #1976d2;
}

.panel-input button {
  padding: 8px 14px;
  color: #0f0303;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;        /* đảm bảo không viền */
  box-shadow: none;     /* Chrome khỏi thêm viền */
}

.panel-input button:hover,
.panel-input button:active {
  color: #39a2ff;
  outline: none !important;
  box-shadow: none !important;
}

/* Hiệu ứng chuyển trang */
.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 1;        /* giữ nguyên */
  transition: none;  /* tắt toàn bộ fade */
}

.panel-animate {
  opacity: 1 !important; /* luôn hiển thị, không bao giờ fade */
}

