.departmentSelector {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.departmentSelector .dots {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.departmentMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff; /* màu nền trắng */
  border: 1px solid #ccc; /* viền nhẹ */
  border-radius: 6px; /* bo góc */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* đổ bóng */
  margin-top: 5px;
  z-index: 50;
  max-height: 200px; /* chiều cao tối đa */
  overflow-y: auto; /* scroll nếu vượt quá max-height */
  width: 220px; /* chiều rộng cố định hoặc tuỳ chỉnh */
  padding: 5px 0; /* khoảng cách bên trong */
  scrollbar-width: none; 
}
.departmentMenu::-webkit-scrollbar {
  display: none;              /* Chrome, Edge, Safari */
}


.departmentItem {
  padding: 4px 0;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 5px;
}

.departmentItem:hover {
  background-color: rgba(0, 149, 246, 0.1);
}

.departmentItem.active {
  font-weight: 600;
  color: #0095f6;
}
