/* BACKDROP */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  overflow-y: auto;
  padding: 20px;
}

/* MODAL CONTAINER */
.ep-modal-container {
  background: #fff;
  width: 950px;
  max-width: 100%;
  height: 600px;
  max-height: 90vh;
  border-radius: 14px;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.edit-left {
  flex: 7; /* 70% */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.edit-left::-webkit-scrollbar {
  display: none;              /* Chrome, Edge, Safari */
}

/* CAROUSEL */
.ed-carousel-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.preview-image, .preview-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* NAVIGATION */
.nav-left, .nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(14,13,13,0.3);
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.nav-left:hover, .nav-right:hover {
  background: rgba(0,0,0,0.5);
}

.nav-left { left: 10px; }
.nav-right { right: 10px; }

/* THUMBNAILS */
.thumbnail-bar {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  overflow-x: auto;
  padding-bottom: 5px;
  width: 100%;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

.active-thumb {
  border: 2px solid #e73509;
}

.delete-thumb {
  position: absolute;
  top: 2px;
  right: 1px;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.add-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background: white;
  color: #555;
  cursor: pointer;
  border: 2px solid rgb(219,215,215);
}

.add-thumb:hover {
  background: #e9e9e9;
}

.add-thumb input {
  display: none;
}

/* RIGHT COLUMN */
.edit-right {
  flex: 3; /* 30% */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.edit-right::-webkit-scrollbar {
  display: none;              /* Chrome, Edge, Safari */
}

/* TEXTAREAS */
.ep-modal-textarea-title {
  width: 93%;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background: #f3f3f3;
  font-size: 14px;
  overflow-y: auto;
  min-height: 40px;
}

.ep-modal-textarea-title::-webkit-scrollbar {
  display: none;
}
.ep-modal-textarea-content {
  width: 93%;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background: #f3f3f3;
  font-size: 14px;
  overflow-y: auto;
  min-height: 130px;
}

.ep-modal-textarea-content::-webkit-scrollbar {
  display: none;
}

/* BUTTON */
.edit-btn {
  width: 120px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #007bff;
  color: white;
  cursor: pointer;
  margin-top: auto;
  margin-left: 150px;
}

.post-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
