.profileDetail {
  display: flex;
  gap: 160px;
  padding: 20px 40px;
   padding-top: 0px;
   padding-bottom: 0px;
  border-radius: 12px;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
}

/* Avatar */
.imageDIv-detail {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* làm tròn khung */
  padding: 4px;
  border: 2px solid rgb(21, 10, 161);
  overflow: hidden; /* quan trọng để ảnh không bị vươn ra */
}

.avatar-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.faculty-avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile-info-detail {
    width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #d6cccc;
  border-radius: 10px;
  padding: 10px
}
.detail-description {
  display: flex;
  align-items: center;
  gap: 13px;
}

.detail-description-icon {
  font-weight: bold;
  font-size: 16px;
}

.detail-description-text {
  font-size: 13px;
  font-weight: 500;
}